.btn {
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  background: var(--main-color);
  border: none;
  padding: 10px 20px;
}
.btn-border {
  border-radius: 20px;
  font-size: 1.2rem;
  color: var(--main-color);
  background: none;
  border: 1px solid var(--main-color);
  padding: 10px 20px;
}
