.btn {
  border-radius: 20px;
  font-size: 1.2rem;
  color: white;
  background: #e08993;
  border: none;
  padding: 10px 20px;
}
.btn-border {
  border-radius: 20px;
  font-size: 1.2rem;
  color: #e08993;
  background: none;
  border: 1px solid #e08993;
  padding: 10px 20px;
}
