/* .form {
}
.input-btn {
  display: block;
  border-radius: 28px;
  border: none;
  background-color: #f2f2f2;
  color: #b6b7b7;
  width: 100%;
  height: 100%;
  touch-action: pinch-zoom;
} */
button {
  border-radius: 28px;
  border: none;
  background-color: var(--main-color);
  color: #ffffff;
  height: 56px;
  width: 307px;
  touch-action: pinch-zoom;
  font-size: 100%;
}

.form {
  display: grid;
  grid-row-gap: 1em;
}

.form .input {
  margin-top: 2em;
}

.form__hint a {
  margin-left: 0.5em;
}

.form__otp {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-column-gap: 1.2em;
}

.form__otp input {
  padding: 10px;
  width: 2.8rem;
  border-radius: 10px;
  border: none;
  background-color: #f2f2f2;
}
